.mobile-wrapper
  .header
    .header__main 
      %img.header__avatar{:src => '/img/avatar.svg', :alt => 'avatar', :height => '48px', :width =>'48px'}
      .header__buttons 
        %button.icon.icon--search
        %button.icon.icon--options
    .header__subheader 
      %h1.header__h1 Your top movies 
  %main.main
    .banner 
      %img.banner__image{:src => url_for(@movies[0].image), :alt => 'poster'}
    .wrapper 
      .slider 
        - @movies.drop(1).each do |movie|
          .slider__item 
            %span.slider__number #{movie.position}
            %img{:src => "#{url_for(movie.image)}", :alt => "movie-#{movie.position}", :height => '192px', :width => '144px'}
  %button.edit-button
