html,
body {
    @apply h-full bg-black;
}

.block {
    @apply flex justify-center items-center h-full bg-red-500;
    &__element {
        @apply bg-green-500 text-white my-4 p-4;
        &--modifier {
            @apply bg-blue-500;
        }
    }
}

.mobile-wrapper {
    @apply max-w-lg mx-auto relative;
}

.header {
    @apply w-full bg-black-08 py-4 px-3 absolute;
    &__h1 {
        @apply text-xl text-white;
    }
    &__avatar {
        @apply w-12;
    }
    &__buttons {
        @apply flex items-center;
    }
    &__main {
        @apply flex flex-row flex-nowrap justify-between;
    }
}

.icon {
    @apply w-5 h-5 bg-no-repeat bg-center cursor-pointer inline-block;
    &:not(:last-child) {
        @apply mr-3;
    }
    &--search {
        @apply bg-search;
    }
    &--options {
        @apply bg-options;
    }
}

.banner {
    &__image {
        @apply -z-10 h-full w-full;
    }
    &::after {
        @apply w-12 h-12 text-white content-['1'] text-xl bg-black-06 flex flex-row items-center justify-center absolute right-3 top-32;
    }
}

.wrapper {
    @apply bg-gradient-to-t from-black via-black to-transparent relative -top-24 pt-24;
}

.slider {
    @apply max-h-60 overflow-auto whitespace-nowrap py-6 px-5;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;

    /* for Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
    &__item {
        @apply w-36 max-h-48 overflow-hidden inline-block relative;
        &:not(:last-child) {
            @apply mr-5;
        }
    }
    &__number {
        @apply w-10 h-10 text-white text-xl bg-black-06 flex items-center justify-center absolute right-0 top-0;
    }
}

.edit-button {
    @apply w-16 h-16 bg-slate-100 bg-pencil bg-no-repeat bg-center cursor-pointer rounded-full fixed right-3 bottom-3 lg:absolute;
}
